<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<array>
		<string>B</string>
		<string>C</string>
		<string>E</string>
	</array>
	<key>B</key>
	<array>
		<string>A</string>
		<string>D</string>
		<string>F</string>
	</array>
	<key>C</key>
	<array>
		<string>A</string>
		<string>G</string>
	</array>
	<key>D</key>
	<array>
		<string>B</string>
	</array>
	<key>E</key>
	<array>
		<string>A</string>
		<string>F</string>
	</array>
	<key>F</key>
	<array>
		<string>B</string>
		<string>E</string>
	</array>
	<key>G</key>
	<array>
		<string>C</string>
	</array>
</dict>
</plist>